html, body {
  background: rgb(255, 252, 252);
  font-family: 'Actor', Helvetica, Arial, Verdana, sans-serif;
  line-height: 180%;
}

footer {
  padding: 20px;
  text-align: center;
}

footer a.gittip {
  background: url('gittip.png') no-repeat center center;
  background-size: 100% 100%;
  display: inline-block;
  height: 30px;
  width: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  display: block;
}

p small {
  color: #888;
  font-size: 13px;
  line-height: 120%;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.split.first {
  float: left;
  margin-right: 2%;
  width: 60%;
}

.split.second {
  float: left;
  width: 38%;
}

header {
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Allura', cursive;
}

h1,h2,h3 {
  margin: .3em 0 .8em;
}

h4,h5,h6 {
  margin: 1.3em 0 .8em;
}

h1 { font-size: 29px; }
h2 { font-size: 26px; }
h3 { font-size: 23px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }

p {
  margin: 1em 0;
}