/* ------------------------------- */
/* ------ Normal Navigation ------ */
/* ------------------------------- */
nav {
  background: rgb(49, 51, 53);
  color: #FFF;
  height: 70px;
  transition: .25s height;
  width: 100%;
}

nav.tacked {
  position: fixed;
  top: 0;
}

nav * {
  line-height: 70px;
}

nav .toggle {
  display: none;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav li.active, nav li:hover:not(.toggle) {
  background: rgba(159, 182, 223, .4);
}

nav li a {
  display: block;
  padding: 0 8px;
}

/* ------------------------------- */
/* ------ Mobile Navigation ------ */
/* ------------------------------- */

@media(max-width: 700px) {
  body, .forkme {
    padding-top: 30px;
  }

  nav {
    height: 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  nav.open {
    height: 100%;
  }

  nav * {
    line-height: 40px;
  }

  nav .toggle {
    background: url('toggle.png') no-repeat center center;
    cursor: pointer;
    display: block;
    height: 40px;
    float: right;
    font-size: 31px;
    padding: 0 5px;
    width: 40px;
  }

  nav .toggle:hover {
    color: #CCC;
  }

  nav .toggle .icon-remove {
    display: none;
  }

  nav.open .toggle .icon-remove {
    display: block;
    font-size: 34px;
    margin-top: 0;
    margin-right: 2px;
  }

  nav.open .toggle .icon-align-justify {
    display: none;
  }

  nav ul {
    margin-top: 40px !important;
    text-align: center;
  }

  nav li {
    display: block;
  }
}

/* ------------------------ */
/* -------- Panes --------- */
/* ------------------------ */

ul.panes {
  height: 100%;
  padding: 0;
}

ul.panes li {
  border-top: 1px solid rgba(0,0,0,0.3);
  padding: 20px;
  display: block;
  height: 80%;
}